connexion >= 2.6.0
connexion[swagger-ui] >= 2.6.0
h5py==2.10.0
opencv-python>=4.0.1
python-polylabel>=0.6
python_dateutil==2.6.0
scikit-image>=0.19.2
setuptools >= 21.0.0
swagger-ui-bundle >= 0.0.2
# tensorflow>=2.8.0 # Won't run on IPC227E
tensorflow >= 2.8.0
#./tensorflow-2.8.0-cp38-cp38-linux_x86_64.whl
protobuf~=3.19.0